.boxed-blog{
  &.blog-list{
    .post{
      margin-bottom: 30px;
      &.isotope-item{
        margin-bottom: 0px;
        overflow: initial;
      }
    }
  }

 .post{
  &.e-post{
      padding: 0;
      background: $blog-bg-color;
      border: 1px solid #666666;
      @if($border-radius!=0) {
        @include border-radius($border-radius);
      }
      .box{
        margin-bottom: 0px;
        border:0px;
      }
      .post-meta{
        padding:0 0px 20px 0px;
      }
      .post-content{
        padding:25px 0px 5px 0px;
        p{
            a{
                color: #ff0000;
                font-size: 1.5em;
                font-weight: bold;
                display: block;
            }
            span{
                color: #ff0000;
                font-size: 1em;
                font-weight: bold;
                display: block;
                margin: .5em auto 0;
            }
        }
      }
      &:after{
        content: "";
        width: 100%;
        clear: both;
        display: block;
      }
      
  }
   p{
    margin-bottom: 0px;
    color: $blog-text-color;
   }
  
  .post-img{
    overflow: hidden;
    position: relative;
    height: auto;
    width: 48%;
    float: left;
    img{
      overflow: hidden;
      width: 100%;
      @if($border-radius!=0) {
        @include border-radius($border-radius);
      }
    }
  }
  .post-meta{
    padding: 20px 25px;
    @include font-size(14,14);
    background: $blog-bg-color;
    margin-bottom: 0;
    ul{
      text-align: right;
       li{
        display: inline-block;
        color: #ff0000;
        &.post-comments{
          @include text_align_start();
        }
        &.post-on{
          float: left;
        }
        &.post-view{
           padding-right: 10px;
        }
       }    
    }
  }

  .post-content{
    position: relative;
    border-top: none;
    padding: 25px;
    background: $blog-bg-color;
    float: right;
    width: 48%;

    h4,h5{
      a{
        color: $blog-header-color;
        &:hover{
          color: $theme-color;
        }
      }      
    }
  }

  //Post Type
  .pad{
      padding: 20px;
      border: 1px solid $border-color;
      border-bottom: none;
      background: $quote-bg;
    }

    audio,video,iframe{
      width: 100% !important;
    }

 }  

 .sda-post{
  position: relative;
  img{
    margin-bottom: 1px;
  }
 }
}

.related-posts{
   margin-bottom: 30px;
  .related-posts-title{
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .related-entry{
    @include box-sizing(box-sizing);
    .related-entry-media{
      margin-bottom: 15px;
      position: relative;
      overflow: hidden;
    .related-entry-thumbnail{
       img {
        //width: 210px;
        width: 100%; 
        height: auto;
      }
    }
   }

   .related-entry-title{
    h6{
      text-transform: uppercase;
      @include font-size(14,20);
    }    
   }
 &:hover{
    .related-entry-title{
      h6{
          color: $theme-color;
      }    
    }
  }
  } 
}


/*-------------------------*/
/* Slit (inspired by Jam3) */
/* codrops
/*sass by adel tahri
/*-------------------------*/

.vertical-menu {
    .nav-slit {
        a {
            &.prev {
                @include start(0);
                left: 0;
                @include margin-start($navbar-vertical-w+px);
            }
            &.next {
                @include end(0);
            }
        }
    }
}

a.btn-see-more{
    background-color: black;
    color: white;
    padding: 5px 20px;
    margin: 1em 0 0 ;
    display: block;
    clear: both;
    width: auto;
    max-width: 90px;
    font-weight: bold;
}

.nav-slit{
 a {
    position: fixed;
    top: 65%;
    display: block;
    outline: none;
    @include text_align_start();
    z-index: 1000;
    @include transform(translateY(-50%));
    &.prev {      
      left: 0;
      div {
        left: 0;
        @include transform(translateX(-100%));
      }
   }
  &.next {
     right: 0;
     div {
          right: 0;
          @include text_align_start();
          @include transform(translateX(100%));
     }
  }

  i {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 22px;
    height: 22px;
    text-align: center;
  }

 }

.slit-wrap {
  position: relative;
  display: inline-table;
  padding: 60px 8px;
  background-color: $footer-bg-bottom;
}

i {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  color: #fff;
  @include font-size(22,22);
}

div {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #939a9f;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

h6 {
  position: absolute;
  top: 100%;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  height: 30%;
  font-weight:300;
  background: $footer-bg-bottom;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  @include transform(rotateX(-90deg));
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webki-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 25px !important;
}

 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 }
}

.nav-slit a:hover i {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav-slit a.prev:hover i {
  @include transform(translateX(-100%));
}

.nav-slit a.next:hover i {
  @include transform(translateX(100%));
}

.nav-slit a:hover div {
  @include transform(translateX(0));
}

.nav-slit a:hover h6 {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  @include transform(rotateX(0deg));
}
/*-----Slit !---------------*/