/************************/
/*     OKAB COLORS      */
/************************/
/**
 * Scss File Content All Colors
 * Author @PixelDima
 **/
/************************/
/*     !OKAB COLORS     */
/************************/


/**
 * [Theme Color]
 */
$theme-color: #f7bf4d;
$border-color: #d0cdbc;

/**
 * [User Interface Colors]
 */
$body-bg-color: #FFFFFF;
$content-bg-color: #FFFFFF;
$section-bg-color: #faf9f5;
$box-bg-color:#e9e8e2;

/**
 * [Typo Colors]
 */
$header-font-color: #231f20;
$header-link-color: #384047;
$body-text-color: #616161;
$body-link-color: $theme-color;
$body-link-hover-color: darken($body-link-color, 15%);

/**
 * [Blog  Colors]
 */
$blog-bg-color: $content-bg-color;
$blog-text-color: $body-text-color;
$blog-header-color: $header-font-color;
$widget-bg-color: $blog-bg-color;
$blog-border-color: $border-color;
$box-bg : #FFFFFF ;
/**
 * [menu Colors]
 */
$nav-bg-color: #f7bf4d;
$nav-bg-color-top-style: #f7bf4d;
$nav-text-color: #FFFFFF;
$nav-text-hover-color: #FFFFFF;
$nav-shadow:#a6a498;
/**
 * Vertical menu
 */
$topbar-bg-color: $section-bg-color; 
$topbar-text-color: $body-text-color; 
$topbar-icon-text-color: $header-font-color; 

$navbar-vertical-bg:#FFF;
$navbar-vertical-bordre-color: lighten($border-color, 17%);
/*Response Menu Icon*/
$bt-color: #919191;
$bt-bg-color: #FFFFFF;
$bt-bg-hover: #FFFFFF;

/**
 * [Search Box Colors]
 */
$search-box-bg: $theme-color;
$search-box-text: #FFFFFF;

/**
 * [Container Title (bottom of the header)]
 */
$title_con_bg: $header-font-color;
$title_con_color: #FFFFFF;

/**
 * [Divider Colors]
 */
$hr-color: $border-color;

/**
 *     Button
 */
 $radius-var:0;
 $btn-border-color:$theme-color;
 $default-btn-bg-color:$theme-color;
 $default-btn-color:#fff;
 $border:1px;
 
 /*--- colors fill---*/

 $fill-btn-color:#fff;
 $fill-btn-color-hover:#fff;

 /*--- colors stroke---*/

 $btn-stroke-color: $btn-border-color;
 $btn-stroke-color-hover:#fff;
 
/**	
 * [Tabs Colors]
 */
$tab-nav-bg: $section-bg-color;
$tab-nav-bg-active: #FFFFFF;
$tab-nav-color: $header-font-color;
$tab-nav-color-active: $nav-text-color;
$tab-nav-border-color: $hr-color;
$tab-cnt-bg:#FFFFFF;

/**
 * [Code Colors]
 */
$code-color: darken($border-color, 30%);
$code-bg: lighten($border-color, 5%);
$pre-bg: #021321;

/**
 * PRICING TABLE
 */
$pricing-body-bg: #FFFFFF;
$pricing-header-bg: $header-font-color;
$pricing-button-bg: $pricing-header-bg;
$pricing-separator-border: lighten($border-color,17%);


/**
 * [Alert Colors]
 */
$info-color: #0288d1;
$error-color: #e74c3c;
$warning-color: #ffbc00;
$success-color: #7cb342;

/**
 * [Tooltips Colors]
 */
$tooltip-bg: #000000;
$tooltip-color:#FFFFFF;
$tooltip-boredr-color:#000000;

/**
 * [Quote  Color]
 */
$quote-bg:$header-font-color;
$quote-text-color:#FFFFFF;

/**
 * [Testimonial Color]
 */
$testimonial-bg:#FFFFFF;

/**
 * Footer Colors
 */
$footer-bg-top: #ffffff;
$footer-color: #828077;
$footer-link: #423e39;
$footer-header-color: #423e39;
$footer-bordre-color: $border-color;
//Bottom Footer
$footer-bg-bottom: #423e39;
$footer-bottom-color: #FFFFFF;