/**
 * [param: rtl OR ltr ]
 * @type {[String]}
 */
$global-direction:ltr !default;

$font-family-base: "Lato", Helvetica, Arial, sans-serif;
$font-family-headings: "Cabin", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";
$dimaIcon: "Dima-Icons";