/***********************************************************************************************/
/* UTILITY CLASSES */
/***********************************************************************************************/

.text-center {
    text-align: center;
}
.text-start {
    @include text_align_start();
}
.text-end {
    @include text_align_end();
}
.float-start {
    @include float-start();
}
.float-end {
    @include float-end();
}
.float-center {
    margin: 0 auto;
    float: none !important;
    li {
        float: none;
    }
}
.hide-text {
    font: 0/0 a;
    color: transparent !important;
    text-shadow: none;
    background-color: transparent !important;
    border: 0;
}
.through {
    text-decoration: line-through;
}
.uppercase {
    text-transform: uppercase !important;
}
.no-bottom-margin {
    margin-bottom: 0px !important;
}
.no-top-padding {
    padding-top: 0px;
}
.no-bottom-padding {
    padding-bottom: 0px;
}
.opacity-zero {
    opacity: 0
}
.show {
    opacity: 1;
}
.hide {
    display: none;
}
.add-border {
    margin: 10px;
    border: 1px solid #fff;
}
.no-shadow {
    @include box-shadow(none !important);
}
.no-margin {
    margin: 0px !important;
}
.margin-end {
    @include margin-end(30px);
}
.theme-color {
    color: $theme-color;
}
.inline {
    >li {
        display: inline-block;
        overflow: hidden;
        @include margin-end(8px);
        margin-bottom: 8px;
        &:last-child {
            @include margin-end(0px);
        }
    }
}
/**
 * Position
 */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.unset{
    overflow: unset;
}
.auto-width {
    width: auto;
}
.full-width {
    width: 100%;
    overflow: hidden;
}
.lr-padding {
    padding-left: 50px;
    padding-right: 50px;
}
.tb-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}
/*hirsontal line*/

.vertical-middle {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.no-border {
    border: none;
}
.circle {
    @include border-radius(999px);
}
.h5 {
    font-family:$font-family-headings;
    font-weight: 700;
    @include font-size($h5, $h5);
    color: $header-font-color;
    text-rendering: optimizeLegibility;
    margin-bottom: .5em;
}
#infscr-loading {
    position: absolute;
    display: none;
    z-index: 999;
    bottom: 0px;
    left: 50%;
    border-bottom: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid $theme-color;
    border-top: 2px solid $theme-color;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-left: -30px;
    margin-top: -30px;
    -webkit-animation: fa-spin .6s infinite linear;
    -moz-animation: fa-spin .6s infinite linear;
    -ms-animation: fa-spin .6s infinite linear;
    -o-animation: fa-spin .6s infinite linear;
    animation: fa-spin .6s infinite linear;
    text-align: center;
    display: block;
    text-indent: -9999px;
}
/* CLEARING
============================================================================ */

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.container:after {
    clear: both;
}
.container {
    zoom: 1;
}
.clearfix {
    *zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */
}
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
/* Use clearfix class on parent to clear nested columns */

.container:before, .container:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
/* You can also use a <br class="clear" /> to clear columns */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    padding-bottom: 15px;
}
.double-clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    padding-bottom: 30px;
}
.clear-section {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    padding-bottom: 0;
}
.overflow-hidden{
    overflow: hidden;
}
//*==================================================*//
