/***********************************************************************************************/
/* FOOTER */
/***********************************************************************************************/
.top-footer{
    position: relative;
    background: $footer-bg-top;
    padding:70px 0;
    padding-bottom: 50px;
     h3{
        color: darken($footer-color,10%);
     }
     p{
        color: $footer-color;
        margin-bottom: 0px;
     }
     i{
      color: $footer-color;
     }
     h6{
      color:$footer-link ;
     }
    a{
        color:$footer-link ;
        @include transition(all .2s ease-in);
        &:hover{
          color: $theme-color;
        }
      }
     .widget{
      .widget-titel{
        padding-bottom: 30px;
        margin-bottom: 0;
        color: $footer-header-color;
        &.with-border{
           border-bottom: 1px solid $footer-bordre-color;
           margin-bottom: 20px;
        }
      }
      .widget-content{
        padding: 0 0 20px 0; 

        hr{
          margin : 0;
          padding: 0px;
          margin-bottom: 20px;
          border-color: $footer-color; 
        }        
      }
      textarea, select, input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"]{
        border: 1px solid $footer-bordre-color;
      }
    }

    .with-border{
      li{
          border-top: 1px solid $footer-bordre-color;
        }
    }

    .tweet-footer{
      ul{

        li{
          display: block;
          padding: 20px 0;
          border-top: 1px solid $footer-bordre-color;
          p{
            margin-bottom: 0px;
            &.tweet{
              span ,a{
                 color:$theme-color;
              }             
            }
          }
          .timePosted{
            color: $body-text-color;
          }
        }
      }
    }
    &.landing-footer{
      padding: $section-padding 0;
        .dima-social-footer{
          margin: 0 auto;
          display: inline-block;
        } 
    }
}

footer{ 
  position: relative;
  svg{
    float: right;
  }
  a{
    color:#FFFFFF;
    padding: 5px;
    @include transition(all .2s ease-in);
    &:hover{
      color: $theme-color;
    }
  }

 	&.dima-footer{
    &.e-footre{
      .copyright{
        margin-top: 7px;
      }      
    }
    background: rgb(77,77,77); 
    background: url(../images/lines.svg), -moz-linear-gradient(left, rgba(77,77,77,1) 0%, rgba(26,26,26,1) 30%, rgba(26,26,26,1) 70%, rgba(26,26,26,1) 70%, rgba(77,77,77,1) 100%);
    background: url(../images/lines.svg), -webkit-linear-gradient(left, rgba(77,77,77,1) 0%, rgba(26,26,26,1) 30%, rgba(26,26,26,1) 70%, rgba(26,26,26,1) 70%, rgba(77,77,77,1) 100%);
    background: url(../images/lines.svg), linear-gradient(to right, rgba(77,77,77,1) 0%, rgba(26,26,26,1) 30%, rgba(26,26,26,1) 70%, rgba(26,26,26,1) 70%, rgba(77,77,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#4d4d4d',GradientType=1 ); 
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: auto 100%, auto auto;
    color: $footer-color;
    border-bottom: 8px #be0811 solid;
    padding: 35px 0; 
    .dima-menu{
      margin-top: 5px;
    } 

    .copyright {
        @include float_start();
         p{
           color: $footer-bottom-color;
           margin-bottom: 0px;
           span{
            color: #be0811;
            margin: 0 1em 0 1em;
           }
         }    
    }
        
    .network {
        float: right;
         p{
           color: $footer-bottom-color;
           margin-bottom: 0px;
         }    
    }

    .dima-social-footer{
      @include font-size(18,18);      
      @include float_end() ;      
    }

  } 	
}

@media only screen and (max-width: $MobileLandscapeMax) {
  footer {
    .copyright,.dima-social-footer  {
    float: none;
    text-align: center;
    }
  }
}