/***********************************************************************************************/
/* GENERAL */
/*************************************************************************************************/

html.responsive, .responsive body {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    -moz-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
}
body {
    direction: $global-direction;
    @include text_align_start();
    color: $body-text-color;
    background-color: $body-bg-color;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    font-weight: $font-weight-regular;
    font-family: $font-family-base;
    overflow-x: hidden;
    background-position: 0% 0%;
    @include font-size($base-font-size, $base-font-size+2);
}
.boxed {
    background-color: $content-bg-color;
    /* backgroud images for body */
    
    &.crossed {
        background: url(../images/bg/crossed_stripes.jpg) repeat  fixed;
    }
    &.fabric {
        background: url(../images/bg/classy_fabric.jpg) repeat  fixed;
    }
    &.linen {
        background: url(../images/bg/low_contrast_linen.jpg) repeat  fixed;
    }
    &.wood {
        background: url(../images/bg/retina_wood.jpg) repeat  fixed;
    }
    &.diagmonds {
        background: url(../images/bg/diagmonds.jpg) repeat  fixed;
    }
    &.triangles {
        background: url(../images/bg/triangles.jpg) repeat  fixed;
    }
    &.black_mamba {
        background: url(../images/bg/black_mamba.jpg) repeat  fixed;
    }
    &.vichy {
        background: url(../images/bg/vichy.jpg) repeat  fixed;
    }
    &.back_pattern {
        background: url(../images/bg/back_pattern.jpg) repeat  fixed;
    }
    &.checkered_pattern {
        background: url(../images/bg/checkered_pattern.jpg) repeat  fixed;
    }
    &.graphy {
        background: url(../images/bg/graphy.jpg) repeat  fixed;
    }
    &.black_thread {
        background: url(../images/bg/black_thread.jpg) repeat  fixed;
    }
    &.subtlenet2 {
        background: url(../images/bg/subtlenet2.jpg) repeat  fixed;
    }
}
.both-sidebar{
    .dima-container {
        width: 48.5%;
        margin-left: 30px;
    }
    .dima-sidebar{
        width: 22.75%;
    }
}
.mini-sidebar{
    .dima-sidebar{
        width: 22.75%;
    }
     .dima-container {
        width: 74.25%;
    }
 }
.dima-team-content {
    padding: 1em;
    padding-top: 30px;
}
.dima-container {
    width: 65.83333333%; 
}
.all_content {
    background: $content-bg-color;
}
.all_content {
    float: left;
    width: 100%;
}
.boxed {
    background-color: $box-bg-color;
    margin-top: 20px;
    margin-bottom: 20px;
    .all_content {
        @include box-shadow(0 0.15em 0.35em 0 rgba(0, 0, 0, 0.135));
    }
    .dima-content {
        padding: 1.5em;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.vertical-menu .container {
    width: 85%;
    padding: 0;
}
