
/***********************************************************************************************/
/* Page Section */
/***********************************************************************************************/

.section{  
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.background-image-hide {
    position: absolute;
    top: -30px;
    height: 150%;
    width: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important;
}
.background-image-holder {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: -1;
    background-position: 50% 50% ;
}
.page-section-content{
    padding: $section-padding 0;
    position:relative;
    /*overflow: hidden;*/
    background-attachment: fixed;     

    .page-section-app{
       z-index: 5;
       //margin-bottom: -6.250em; 
       p{
          color: #fff;
          @include font-size(18,28);
          font-weight: 300;
        }
    }
}

.page-section{
        z-index: 5;
        position: relative;
         .topaz-line{
             &:before,&:after{
                border-bottom: 1px solid #fff;
            }
         }
    }

.app{           
    color: #fff;
    @include font-size(18,28);
    font-weight: 300;
}

.headline-wrapper{
    padding:4em 0px;
    background-color:#f39c12;
}
.fixed-parallax{
   overflow: visible;
   .background-image-hide{
    background-attachment: fixed !important;
   }
}