/***********************************************************************************************/
/* sidebar*/
/***********************************************************************************************/

.dima-sidebar {
    width: 31.666666667%;
    .widget {
        position: relative;
        background: $widget-bg-color;
        border: 1px solid $border-color;
        padding: 30px;
        margin-bottom: 30px;
        .widget-title {
            margin-bottom: 30px;
        }
        &.dima-author-box {
            padding: 40px;
            background: $quote-bg;
            .dima-about-image, .dima-author-info {
                position: relative;
                z-index: 5;
            }
            .dima-about-image {
                padding: 2px;
                text-align: center;
                margin-bottom: 30px;
                float: none;
                @include margin-end(0px);
                @include box-shadow(none);
                img {
                    @include box-shadow(0 0px 0 1px #FFFFFF);
                }
            }
            p,
            .dima-author-name,
            a {
                color: #FFFFFF;
            }
        }
        &.dima-tabs {
            background: transparent;
            border: none;
            padding: 0px;
            .dima-tab-content .dima-tab_content {
                padding: 30px 30px;
            }
        }
        .dima-testimonial.quote-style blockquote p{
            color : $body-text-color;
            @include font-size(18,30);
            font-weight: 400;
        }
    }
    .flkr-cont,.dima-instagram {
        li {
            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
.widget-content {
    p {
        margin-bottom: 25px;
    }
    .field {
        margin-bottom: 20px;
    }
    ul {
        &.featured-posts {
            li {
                span {
                    display: block;
                    float: none;
                    margin-top: 10px;
                    @include font-size(14, 14);
                    color: $footer-bordre-color;
                }
                &:hover {
                    h6 {
                        color: $theme-color;
                    }
                }
            }
        }
        &.archif-posts,
        &.categories-posts {
            li {
                a {
                    color: $body-text-color;
                }
                &:hover > {
                    a {
                        color: $theme-color;
                    }
                }
            }
            li:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .dima-ads {
        li {
            display: inline-table;
            @include float_start();
            width: 47.7%;
            @include margin-end(3.7%);
            margin-bottom: 3.7%;
            img {
                width: 100%;
            }
            &:nth-child(2n+2){
                margin-right: 0%;
            }
        }
    }
}
.flkr-cont,.dima-instagram {
    position: relative;
    overflow: hidden;
    li {
        @include float-start();
        width: 30.1%;
        @include margin-end(3.3%);
        margin-bottom: 3.3%;

        &:nth-child(3n+3){
         @include margin-end(0%);
        }
    }
}
