/************************/
/*     OKAB COLORS      */
/************************/
/**
 * Scss File Content All Colors
 * Author @PixelDima
 **/
/************************/
/*     !OKAB COLORS     */
/************************/ 


/**
 * [Theme Color]
 */
$theme-color: #955251;
$border-color: #443F40;

/**
 * [User Interface Colors]
 */
$body-bg-color: #231f20;
$content-bg-color: #231f20 ;
$section-bg-color: #161314;
$box-bg-color:#e9e8e2;

/**
 * [Typo Colors]
 */
$header-font-color: #c5c4c4;
$header-link-color: #c5c5c5;
$body-text-color: #8b8b8b;
$body-link-color: $theme-color;
$body-link-hover-color: darken($body-link-color, 15%);

/**
 * [Blog  Colors]
 */
$blog-bg-color: #231f20;
$blog-text-color: $body-text-color;
$blog-header-color: $header-font-color;
$widget-bg-color: $blog-bg-color;
$blog-border-color: $border-color;
$box-bg : #161314 ;
/**
 * [menu Colors]
 */

$topbar-bg-color: $section-bg-color; 
$topbar-text-color: $body-text-color; 
$topbar-icon-text-color: $header-font-color; 

$nav-bg-color:#231F20;
$nav-bg-color-top-style: $theme-color;
$nav-text-color: $header-font-color;
$nav-text-hover-color: $theme-color;
$nav-shadow:#0B0B0B;
/**
 * Vertical menu
 */
$navbar-vertical-bg:#FFF;
$navbar-vertical-bordre-color: lighten($border-color, 17%);
/*Response Menu Icon*/
$bt-color: #919191;
$bt-bg-color: #FFFFFF;
$bt-bg-hover: #FFFFFF;

/**
 * [Search Box Colors]
 */
$search-box-bg: $theme-color;
$search-box-text: #FFFFFF;

/**
 * [Container Title (bottom of the header)]
 */
$title_con_bg: $header-font-color;
$title_con_color: #FFFFFF;

/**
 * [Divider Colors]
 */
$hr-color: $border-color;

/**
 *     Button
 */
 $radius-var:0;
 $btn-border-color:$theme-color;
 $default-btn-bg-color:$theme-color;
 $default-btn-color:#fff;
 $border:1px;
 
 /*--- colors fill---*/

 $fill-btn-color:#fff;
 $fill-btn-color-hover:#fff;

 /*--- colors stroke---*/

 $btn-stroke-color: $btn-border-color;
 $btn-stroke-color-hover:#fff;

/**	
 * [Tabs Colors]
 */
$tab-nav-bg: $section-bg-color;
$tab-nav-bg-active: #FFFFFF;
$tab-nav-color: $header-font-color;
$tab-nav-color-active: $nav-text-color;
$tab-nav-border-color: $hr-color;
$tab-cnt-bg:#FFFFFF;

/**
 * [Code Colors]
 */
$code-color: darken($border-color, 30%);
$code-bg: lighten($border-color, 5%);
$pre-bg: #021321;

/**
 * PRICING TABLE
 */
$pricing-body-bg: #FFFFFF;
$pricing-header-bg: $header-font-color;
$pricing-button-bg: $pricing-header-bg;
$pricing-separator-border: lighten($border-color,17%);


/**
 * [Alert Colors]
 */
$info-color: #0288d1;
$error-color: #e74c3c;
$warning-color: #ffbc00;
$success-color: #7cb342;

/**
 * [Tooltips Colors]
 */
$tooltip-bg: #000000;
$tooltip-color:#FFFFFF;
$tooltip-boredr-color:#000000;

/**
 * [Quote  Color]
 */
$quote-bg:$box-bg;
$quote-text-color:#919191;

/**
 * [Testimonial Color]
 */
$testimonial-bg:#FFFFFF;

/**
 * Footer Colors
 */
$footer-bg-top: #161314;
$footer-color: $body-text-color;
$footer-link: $header-font-color;
$footer-header-color: #c5c4c4;
$footer-bordre-color: $border-color;
//Bottom Footer
$footer-bg-bottom: #0D0B0C;
$footer-bottom-color: $header-font-color;