/**
 * [param: rtl OR ltr ]
 * @type {[String]}
 */
$global-direction:rtl !default;

$font-family-base: "Droid Arabic Naskh", Helvetica, Arial, sans-serif;
$font-family-headings: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";
$dimaIcon: "Dima-Icons";