/************************/
/*     OKAB variables      */
/************************/
/**
 * Scss File Content All variables
 * Author @PixelDima
 **/
/************************/
/*     !OKAB variables     */
/************************/

/**
 * [Section padding]
 * @type {[type]}
 */
$section-padding : 6.250em;
$section-padding-mini : 6.250em/2;

$border-radius: 0px;

/**
 * [Responsive variables]
 * @type {[px]}
 */
$maxWidthExtraLarge: 1260px; 
$maxWidthLarge:      1170px; 
$maxWidth:           1010px;
$maxWidthTablet:     782px;             
$maxWidthMobileLarge:478px;      
$maxWidthMobileSmall:318px;         

$DesktopExtraLarge:  1600px;
$DesktopLarge:       1140px;
$TabletPortraitMin:  768px;
$TabletPortraitMax:  989px;
$MobilePortrait:     767px;
$MobileLandscapeMin: 480px;
$MobileLandscapeMax: 767px;

/**
 * Default menu
 */
$a-height: 110;
$a-height-tablet: 90;
$a-height-small: 100;
$top-bar-height:34px;
$sub-menu-top:$a-height - 10;
$sub-menu-top-small:$a-height-small - 10;
$font-size: 14;
$logo-height:95;
$sub-menu:260px;
$sup-menu-top:0;
$menu-itms-gutter:15px;


/**
 * Vertical menu
 */
$navbar-vertical-w:300;
$navbar-vertical-border:30;