/***********************************************************************************************/
/* Lists */
/***********************************************************************************************/

ul {
  list-style: none outside;
  li{
    color: $body-text-color;
  }
  &.icon-list {
      li {
          position: relative;
          overflow: hidden;
          margin-bottom: 6px;
          @include padding-start(25px);
          line-height: 20px;
          i {
              position: absolute;
              left: 0;
              text-align: center;
              top: 3px;
              width: 14px;
              @include font-size(14, 14);
          }
      }
  }

  &.with-border {
      &.dotted-border {
          li {
              border-top: 1px dotted $border-color;
          }
      }
      &.dashed-border {
          li {
              border-top: 1px dashed $border-color;
          }
      }

   li {    
    display: block;
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px solid $navbar-vertical-bordre-color;
    strong{
      font-weight: bold;
      color: $header-font-color;
    }

    ul{
      @include padding-start(20px);
      opacity: 0.7;
      padding-top: 20px;
      margin-bottom: -20px;
      li{
        &:last-child{
          padding-bottom: 20px;
        }
      }
     }
     &:last-child{
      padding-bottom: 0px;
     }
   }
   
   p{
     margin-bottom: 0;
   }
}

  &.list-style{
  li{
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    @include padding-start(20px);
    line-height: 20px;
     &:before{
      content: "\f068";
      font-family: $FontAwesome;
      position: absolute;
      top: 0px;
      @include start(0);
      font-size:12px;
      line-height: 22px;
      color: $theme-color;
    }

    &.no-icon{
      &:before{
        content: "";
      }
    }
   }
  }

  &.list{
   li{
      position: relative;
      overflow: hidden;
      margin-bottom: 6px;
      line-height: 20px;
      i{
        @include padding-end(5px);
      }      
   }
  }

  &.stars{
   li{
      &:before{
      content: "\f006";
     }
   }
  }

  &.angle{
   li{
      &:before{
      content: "\f105";
     }
   }
  } 

  &.check{
   li{
      &:before{
      content: "\f00c";
     }
   }
  }  

  &.thumb-tack{
   li{
      &:before{
      content: "\f08d";
     }
   }
  }
    
}

ol {
  list-style: decimal;
}

