/***********************************************************************************************/
/* Masonry Style /
/***********************************************************************************************/

.masonry{ 

  .isotope-with-margin{
    &.column-3{
      .dima-masonry-145{
         padding-bottom: 156.6%;
      }
      .dima-masonry-30{
       padding-bottom: 35.8%;
      }
    }
    &.column-4{
      .dima-masonry-145{
         padding-bottom: 159.7%;
      }
      .dima-masonry-30{
       padding-bottom: 35.9%;
      }
    }
    &.column-4{
      .dima-masonry-111{
        padding-bottom: 111.11%;
      }
    }       
  }
  
}
  .isotope-item .work-item img {
     @include box-shadow(inset 0px -10px 0px #fff);
     position: absolute;
     height: 100%;
     max-width: none;  
     top: 0;
     left: 0;     
  }


  .dima-masonry-145{
     padding-bottom: 150%;
  }

  .dima-masonry-100{
     padding-bottom: 100%;
  }

  .dima-masonry-111{
     padding-bottom: 111%;
  }

  .dima-masonry-75{
     padding-bottom: 75%;
  }

  .dima-masonry-30{
     padding-bottom: 37.5%;
  }

  .dima-masonry-50 {
    padding-bottom: 48.5%;
  }


