/***********************************************************************************************/
/* PROTFOLIO /
/***********************************************************************************************/

$protfolio-border: 0px;
$over-icon-color: #FFF;

.dima-isotope-container {
    &.isotope-with-margin {
        margin: 0 -15px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        .isotope-item {
            border-top: 0em solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid transparent;
            background-clip: padding-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

.isotope-item {
    overflow: hidden;
    @include border-start($protfolio-border solid #fff);
    border-bottom: $protfolio-border solid #fff;
    @include box-sizing(content-box);
    margin: 0;
    padding: 0 !important;
    &[class*="ok-"] {
        margin-bottom: 0px;
    }
    .work-item {
        width: 100%;
        z-index: 45;
        position: relative;
        cursor: pointer;
        img {
            @include box-shadow(inset 0px -10px 0px #fff);
            width: 100%;
            @if $border-radius != 0 {
                @include border-radius($border-radius);
            }
        }
        .link_overlay {
            background-color: rgba(77, 77, 77, .8);
            background-image: url('../../../images/icon-testimonials.png');
            background-repeat: no-repeat;
            background-size: 70%;
            background-position: center;
            .testimonial{
                padding: 20px;
                p{
                    color: white;
                    line-height: 110%;
                    margin: 0 0 10px;
                    strong{
                        color: #ff0000;
                        font-weight: bold;
                        margin: 0 0 10px;
                    }
                    a{
                        display: block;
                        background-color: #ff0000;
                        color: white;
                        width: 60%;
                        padding: 5px;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
    .work-info {
        position: absolute;
        bottom: -82px;
        opacity: 0;
        width: 100%;
        @include transition(all 0.2s ease-in);
        z-index: 10;
        .work-teitel {
            width: 100%;
            display: inline-block;
            p {
                font-size: 18px;
                font-weight: 700;
                padding-bottom: 3px;
                color: #fff;
                text-transform: uppercase;
            }
            span {
                font-size: 14px;
                font-weight: 300;
                color: #fff;
            }
        }
    }
    .post-img {
        &:hover {
            .icons-media {
                margin-top: -30px !important;
            }
            .work-info {
                bottom: 15%;
                opacity: 1;
                -webkit-transform: scale(0.8);
                transform: scale(0.8);
            }
            .link_overlay {
                background: $theme-color;
                opacity: 1;
            }
        }
    }
}

/**
 * Ajax Portfolio
 */

.portfolio-ajax-expanded {
    position: relative;
    display: none;
    .social-media {
        li {
            margin-bottom: 0px;
            &:first-child {
                @include float-end;
            }
        }
    }
}

#ajax-loader {
    position: fixed;
    display: none;
    z-index: 999;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #e4e4e4;
    border-left: 2px solid #e4e4e4;
    border-right: 2px solid $theme-color;
    border-top: 2px solid $theme-color;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-left: -30px;
    margin-top: -30px;
    -webkit-animation: fa-spin .6s infinite linear;
    -moz-animation: fa-spin .6s infinite linear;
    -ms-animation: fa-spin .6s infinite linear;
    -o-animation: fa-spin .6s infinite linear;
    animation: fa-spin .6s infinite linear;
    text-align: center;
}

.full-protfolio {
    display: block;
    position: relative;
    width: 99.99%;
}

.normal-protfolio {
    display: block;
    position: relative;
}

/*********************************/
/*   Cases 4 Column Portfolio    */
/*********************************/

.column_4 {
    display: block;
    .work-info {
        padding: 10px;
        .work-teitel {
            p {
                @include font-size(16, 18);
            }
            span {
                display: none;
            }
        }
        .work-love {
            width: 20%;
            .heart {
                color: $theme-color;
                font: (18px / 32px) $FontAwesome;
            }
            span {
                color: $theme-color;
            }
        }
    }
}