/*******************/
/*       Boxes     */
/*******************/

.box {
    background: $box-bg;
    border: 1px solid $border-color;
    padding: 30px;
    //overflow: hidden; error on Masonry 
    .box-titel {
        margin-bottom: 30px;
    }
    &.box-with-marge {
        margin-bottom: 30px;
    }
    &.coupon-box{
        overflow: hidden;
    }
}
.shot {
    background: rgba(0, 0, 0, 0);
    border: 10px solid rgba(255, 255, 255, 1);
    margin: 1px 10px 1px 10px;
    display: block;
    -webkit-box-shadow: 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #CCCCCC;
    img {
        width: 100%;
    }
    &.banner {
        margin: 0px
    }
}

.dima-box {
    background: $box-bg;
    border: 3px solid $border-color;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    .box-titel {
        margin-bottom: 30px;
    }
}
.banner {
    position: relative;
    overflow: hidden;
    max-height: 350px;
    cursor: pointer;
    .banner-content {
        position: absolute;
        padding: 10px;
        @include box-sizing(border-box);
        color: white;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 2;
    }
    img {
        width: 100%;
    }
}

    .last-menu {
        ul.with-border li {
            padding: 30px 0;
            overflow: hidden;
        }
        .menu-price {
            @include float-end();
            color: $theme-color;
        }
        .label {
            font-family: $font-family-base;
            @include start(10px);
            background: #ffd74d;
            text-transform: uppercase;
            padding: 3px 5px;
            line-height: 1em;
        }
        .attachment-menu {
            border: 1px solid $border-color;
            @include float-start();
            @include margin-end(30px);
            @include margin-start(0px);
            width: 100px;
            box-shadow: 0 0 0 0;
            max-width: none !important;
        }
    }
/**/


