/***********************************************************************************************/
/* Clinet*/
/***********************************************************************************************/

.clients-wrapper {
    position: relative;
    @extend .gray-hover;
    a {
        img {
            opacity: .6;
            @include transition(all .2s ease-in);
            -webkit-backface-visibility: hidden;
            width: auto;
        }
        &:hover {
            img {
                opacity: 1;
            }
        }
    }
    .prev-next {
        opacity: 0;
    }
    &.grid{
    	.client {
    	border: 1px dashed $border-color;
    	padding-bottom: 5px !important;
    	padding-top: 5px !important;
    	margin-right: -1px !important;
		margin-top: -1px !important;
	}
    }
    

}

.owl-slider,.screenshots,.clients-wrapper{	
	position: relative;
	clear: both;
	.prev-next{
		display: none;
		@include transition(all .2s ease-in);
		opacity: 1;
		position:absolute;
		width: 100%;
		top: 50%;		

	a{
		cursor: pointer;
		@include transition(all .2s ease-in);

		&:before{
			content: '';
			font-family: $FontAwesome;
			position:absolute;
			top:50%;
			margin-top: -25px;
			color: $header-font-color;
			padding:5px;	
			@include font-size(25,25);		
			&:hover{
				color: $theme-color;
			}
		}		
	}	

	a.prev{
		&:before{
			@if($global-direction == "ltr"){
				content: '\f104';
			}@else{
				content: '\f105';
			}

			@include start(-40px);
		}
	}	
	a.next{
		&:before{
			@if($global-direction == "ltr"){
				content: '\f105';
			}@else{
				content: '\f104';
			}

			@include end(-40px);
		}
	 }
  } 
}
.dark-owl-page{
.owl-controls{
	margin-top: 30px;
}
 .owl-page span {
  background: rgba(255, 255, 255, 0);
  border: 1px solid $header-font-color !important;
}
 .owl-page.active span,
.clickable .owl-page:hover span {
  background: $header-font-color !important;
}

 .owl-page span.owl-numbers {
  color: $header-font-color !important;
 }
}
.isotope-owl{
	.owl-item {
			margin: 0 15px;
	}
}
