/*Topaz Hover - Topaz border*/

.topaz-border,
.topaz-hover {
    &.topaz-dashed {
        &:before {
            border-top: 1px dashed #fff;
            border-bottom: 1px dashed #fff;
        }
        &:after {
            @include border-start(1px dashed #fff);
            @include border-end(1px dashed #fff);
        }
    }

    //position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    @include start(0);
    cursor: pointer
    &:before, &:after {
        content: '';
        position: absolute;
        top: 10px;
        @include end(10px);
        bottom: 10px;
        @include start(10px);
        z-index: 1;
    }
    &:before {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    &:after {
        @include border-start(1px solid transparent);
        @include border-end(1px solid transparent);
    }
}
.topaz-hover {
    &:before, &:after {
        @include opacity(0.0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    &:before {
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    &:after {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    &:hover {
        &:before, &:after {
            @include opacity(1.0);
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}
/*Topaz Hover! - Topaz border!*/
/*================================================*/

.gray-hover {
    img {
        margin: 0 auto;
    }
    &:hover {
        .apply-gray {
            @include opacity(1.0);
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}
.apply-gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    @include transition(all .2s ease-in);
    -webkit-backface-visibility: hidden;
}

/**
 * hover mine class
 */
.link_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    @include start(0);
    @include end(0);
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    @include box-sizing(order-box);
    @include transition(all .2s ease-in);
    z-index: 50;
    opacity: 0.0;
    @if($border-radius!=0) {
        @include border-radius($border-radius);
    }
    .icons-media {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        margin-top: 0px;
        @include transition(all .2s ease-in);
        &.media-button{
            li{
                a{
                    width: 160px;
                    font-size: 1rem;
                    font-family: $font-family-headings;
                }
            }
        }
        li {
            position: relative;
            display: inline-block;
            @include margin-end(30px);
            margin-bottom: 30px;
            z-index: 55;
            
            &:nth-child(2n+3) {
                @include clear_start();
            }
            &:last-child {
                @include margin-end(0px !important);
            }
            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                border: 1px solid $over-icon-color;
                font-family: $FontAwesome;
                @include font-size(22, 50);
                color: $over-icon-color;
                @include transition(all .2s ease-in);
                &:first-child {
                    @include margin-start(0px);
                }
                @if($border-radius!=0) {
                    @include border-radius($border-radius);
                }
            }
        }
    }

    &.two_lines {
        .icons-media {
            position: absolute;
            width: 100%;
            li {
                @include float_start();
            }
        }        
    }
}
/**
 * Apply Hover link_overlay
 */
.post-img{
    position: relative;
    cursor: pointer;
}
.work-item,.dima-team-member,
.post-img,.dima-product  {
    &:hover {
        .link_overlay {
            @include opacity(1.0);
            .icons-media {
                margin-top: -25px;
            }
            .work-info {
                opacity: 1;
            }
            ul{
                a {
                @include transition(all .2s ease-in);
                    &:hover {
                        border-color: $over-icon-color;
                        background: $over-icon-color;
                        color: $theme-color;
                    }
                }
             }
            //Show pordaers +
            .topaz-hover {
                &:before, &:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            &.with_opacity {
                background: rgba($theme-color, 0.7);
            }
            &.two_lines {
                .icons-media {
                    margin-top: -60px !important;
                }
            }
        }
    }
}

.overlay {
    position: relative;
    &:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        @include start(0);
        @include opacity(0.0);
        @include transition(all .3s ease-in);
        background-color: $theme-color;
        cursor: pointer;
        z-index: 999;
    }
    &:hover {
        &:before {
            @include opacity(0.5);
        }
    }
}
.ming-hide {
    @include opacity(0.0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.4, 1.4, 1);
    transform: scale3d(1.4, 1.4, 1);
}
.ming-zoom {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.effect-ming {
    position: relative;
    &:before {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.2);
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.4, 1.4, 1);
        transform: scale3d(1.4, 1.4, 1);
        z-index: 1;
        background: rgba(0, 0, 0, 0.2);
        content: "";
    }
    img{
        width: 100%;
    }
    &:hover {
        &:before, .ming-hide {
            @include opacity(1.0);
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        .ming-zoom {
            -webkit-transform: scale3d(0.9, 0.9, 1);
            transform: scale3d(0.9, 0.9, 1);
        }
    }
}
.effect-roxy {
    position: relative;
    overflow: hidden;
    height: 100%;
    .banner-content {
        @include transition(all .3s ease-in);
    }
    img {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
    &:hover {
        .banner-content {
            background: rgba(0, 0, 0, 0.4);
        }
        img {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .ming-hide {
            @include opacity(1.0);
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        .ming-zoom {
            -webkit-transform: scale3d(0.9, 0.9, 1);
            transform: scale3d(0.9, 0.9, 1);
        }
    }
}