	.scroll-to-top {
	    background:rgba(20,20,20,0.7);
	    color: $footer-color;
	    display: block;
	    height: 9px;
	    padding: 11px 0 35px;
	    position: fixed;
	    @include end(20px);
	    @include border-radius(50px);
	    bottom: 20px;
	    text-align: center;
	    text-decoration: none;
	    width: 49px;
	    height: 49px;
	    z-index: 1040;
	    @include font-size(25, 25);
	    @include transition(all 0.5s ease-in-out);
	    @include transform(perspective(300px) rotateY(-120deg) translateZ(-10px));
	    &.on {
	        opacity: 1 !important;
	        -webkit-transition-delay: 0s !important;
	        -moz-transition-delay: 0s !important;
	        -ms-transition-delay: 0s !important;
	        -o-transition-delay: 0s !important;
	        transition-delay: 0s !important;
	        @include transform(perspective(300px) rotateY(0deg));
	    }
	    &.off {
	        opacity: 0;
	    }
	    &:hover{
	    	background:rgba(20,20,20,1);
	    	color: #FFFFFF;
	    }
	}
