
.products-grids,.products-list{

.dima-product {
   &.isotope-item{
    margin-bottom: 50px !important;
    padding-bottom: 0;
   }

    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
    .product-img {
      border: 1px solid $border-color;
        .fix-chrome {
            position: relative;
        }
        
        &:hover {           
             .product-change-images {
                   opacity: 1;
             }
        }       
    }
    .product-img{

    figure{
      position: relative;
      &.product-change-images {
            position: absolute;
            top: 0;
            @include start(0);
            opacity: 0;
            filter: alpha(opacity=00);
            @include transition(all ease-in-out 0.3s);
            -webkit-backface-visibility: hidden; 
            width: 100%;
                     
        }
        img{
              height: auto;
              width: 100%;
        }
      }
    }

    .onsale {
        position: absolute;
        z-index: 1000;
        top: 10px;
        @include end(10px);
        text-transform: uppercase;
        -webkit-backface-visibility: hidden;
        span {
            z-index: 10;
            color: #FFF;
            position: absolute;
            @include transform(rotate(45deg));
            @include font-size(14, 14);
            @include end(2px);
            top: 12px;
        }
        &:after {
            content: '';
            position: absolute;
            border-top: 60px solid #E74C3C;
            @include border-end(0);
            @include border-start(60px solid transparent);
            @include end(0);
            z-index: 2;
        }
    }
    
    .rating span:before {
        @include font-size(16, 16);
    }
    .product-content {
        background: $blog-bg-color;        
        border: 1px solid $border-color;
        border-top: none;
        padding: 15px 0;
    }
    .price{
      padding-bottom: 0px;
    }
  }
}

/**/
.products-list{
  
  .dima-product {
      &[class*="ok-"] {
          width: 100%;
          @include margin-start(0);
      }
      &.recipes{

        padding: 0;
        background: $body-bg-color;
        //max-height: 217px;
        .product-content{
          position: static;
          padding: 30px;
          //overflow: hidden;
        }
        
        p {
          margin-bottom: 10px;
        }
      }
      &.start{
        .product-img {
          @include margin-end(30px);    
          @include margin-start(0px);    
        }
        .product-img,.rating {
          @include float-start;
        }
        .product-content {
           @include text_align_start();
        }
      }
      &.end{
        .product-img {
          @include margin-start(30px);    
          @include margin-end(0px);    
        }
        .product-img,.rating {
          @include float-end;
        }
        .product-content {
           @include text_align_end();
        }
      }
      padding: 30px;
      border: 1px solid $border-color;
      .link_overlay {
          display: none;
      }
      .product-img {
          overflow: hidden;
          display: table;
          @include float-start;
          @include margin-end(30px);
          figure {
              position: relative;
              img {
                  @include float-start;
              }
              &.product-change-images {
                  width: auto;
              }
          }
      }
      &:before, &:after {
          content: " ";
          display: table;
      }
      &:after {
          content: " ";
          clear: both;
      }
      .product-content {
          border: none;         
          padding: 0;
          .product-name {
              @include font-size(28, 28);
              margin-bottom: 20px;
          }
      }
      .price {
          @include text_align_start();
          @include font-size(28, 30);
          margin-bottom: 20px;
          padding-top: 20px;
      }
      p {
          margin-bottom: 25px;
      }
      .rating {
          @include margin-end(10px);
          @include float-start();
      }
      .review-link {
          color: $body-text-color;
      }
  }

}

.products-grids{
  
  .dima-product {
    .product-content{
      text-align: center;
      
    }
    .review-link,p,.social-media{
        display: none;
    }
    
  }

}

/*PRICE*/

.price {
    display: block;
    padding: 18px;
    @include font-size(18,18);
    font-family: $font-family-headings;
    color: $header-font-color;
    ins {
        text-decoration: none;        
        font-weight: $font-weight-semibold;
    }
    del{
      @include margin-end(10px);
      font-weight: 300;
    }

}

.product-name {
    @include font-size(14, 16);
    font-weight: $font-weight-semibold;
    margin-bottom: 10px;
    &:hover{
      color: $theme-color;
    }
}

.quantity{
      width: 160px;
      position: relative;
      overflow: hidden;
      height: 46px;
  &.buttons_added{
    .plus,.minus{
        display: block;
        @include float-start();
        position:relative;
        text-align: center;
        border: 1px solid $header-font-color;
        color: #FFF;
        vertical-align: text-top;
        background: $header-font-color;
        @include font-size(14,46);
        font-weight: $font-weight-semibold;       
        width: 46px;
        height: 46px;
        overflow: visible;
        text-decoration: none;
        cursor: pointer;
        opacity: 0.9;
        &:hover{
          opacity: 1;
        }
    }
    .plus{
      @include start(auto);
    }
    .input-text {         
      &.qty{
          width: 65px;
          height: 100%;
          @include float-start();
          padding: 0;
          margin: 0;
          text-align: center;
          font-weight: 700;
          -moz-appearance: textfield;          
      }
    }
  }
}

.posted_in{
  margin-top: 50px;
  @include float-start();
  label{
    @extend h5;
  }
  a{
    &:after{
      content: ','
    }
  }
}
.product-details{
  margin-bottom: 55px;
  overflow: hidden;
  .flex-direction-nav a{
    margin-top: -100px;
  }
.product-shop{
   .product-name{
     @include font-size(28,30);
     margin-bottom: 20px;
   }
    .rating{
      @include margin-end(10px);
      @include float-start();
     } 
    .review-link{
      color: $body-text-color;
      line-height: 15px;
    } 
    .price{
      @include font-size(28,30);
      padding: 0;
      margin: 30px 0 50px 0;
    }
    .des{
      margin-bottom: 55px;
    }
}


//Slide
 .flex-img{
    border: 1px solid $border-color;
    width: 99.99%;
  }
  #slider-thumb .flex-control-nav li {
    height: auto;
    border: 1px solid $border-color;
    @include margin-end(14px);
    margin-bottom: 0px;
    margin-top: 15px;
    @include margin-start(0px);
}

}
/* Side Bar*/
.product_list_widget {
    li {
        a {
            color: $header-font-color;
            @include font-size(14, 16);
        }        
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            content: " ";
            clear: both;
        }
    }
    .price {
        padding: 10px;
    }
}
.attachment-shop_thumbnail{
            border: 1px solid $border-color;
            @include float-start();
            @include margin-start(0px);
            @include margin-end(10px);
            width: 70px;
            box-shadow: 0 0 0 0;
            max-width: none !important;
                        
}
.order-products {
    img {
        @include margin-start(10px);
    }
    .radio {
        @include margin-end(10px);
    }
}

.order-products-table {
        width: 100%;
        overflow: hidden;
        position: relative;
        tfoot, tbody {
            tr {
                border-top: 1px solid $border-color;
                th, td {
                    padding: 20px 0;
                }
            }
        }
        th {
            padding: 20px 0 10px;
        }
        .price {
            font-family: $font-family-base
$font-family-headings;
            padding: 0;
        }
    }

.lost-pass{
  @include margin-start(10px);
}
.coupon-box{
  .apply{
    .button{
      margin-top: 25px;
    }
  }
}

.coupon-box{
  .field{
    input{
      margin-bottom: 10px;
    }
    
  }
}

.dima-data-table-wrap.cart-table{
  table {
    @include box-sizing(content-box);
    border-left: 1px solid $header-font-color;
    border-right: 1px solid $header-font-color;
    thead{
      border: 1px solid $header-font-color; 
      th{
        background: $header-font-color; 
        color: #FFF;
        font-weight: 400;
        font-family: $font-family-base
$font-family-headings;
      }         
    }

    tr {
      border-bottom: 1px solid $header-font-color;
      td{
        padding: 30px;
      }      
    }
  }

  .quantity {
      margin: 0 auto;
  } 
  
  .product-name{
   .cart-item-details {
    display: table-cell;
    vertical-align: middle;
    h6{
      font-weight: 400;
      vertical-align: middle;
      padding: 21px 0;
      margin-bottom: 0;
    }    
   }
 }

}

/*UI Slider*/

.ui-slider {
    height: 1px;
    background: $border-color;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
    .ui-slider-range {
        background: $theme-color;
        height: 1px;
        position: absolute;
    }
    .ui-slider-handle {
        width: 12px;
        height: 12px;
        background: $theme-color;
        position: absolute;
        z-index: 2;
        cursor: ew-resize;
        -ms-touch-action: none;
        touch-action: none;
        outline: 0;
        -moz-outline: 0;
        top: -6px;
    }
    .button {
        margin-bottom: 0;
    }
}
.donate-page{
  .inline{
    li{
      @include margin-end(20px);
    }    
  }
  .with-padding{
    @include padding-start(30px);
    overflow: hidden;
  }
}

//SHOP ZOOM
.round-loope{
   border: 2px solid $border-color;
}