/*******************/
/*      TABS       */
/*******************/

.dima-tabs {
    display: block;
    &.responsive-tab{
    .dima-tab-nav {
        > li {
            > a.tab-control, span.tab-control-spacer {
            	@include float_start();
                width: 20px;
                height: 42px;
                font-size: 30px;
                font-weight: 400;
                line-height: 34px;
                color: $tab-nav-border-color;
                &.right {
                    @include float_end();
                }
            }
            span.tab-control-spacer {
                line-height: 28px;
                color: transparent;
                background: transparent;
            }
            > a.tab-control {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
  }
}
/*1-Header*/

.dima-tab-nav {
    overflow: auto;
    position: relative;
    margin-bottom: 0;
    width: 100%;
    clear: both;
    z-index: 99999;
    &.float-start{
        margin-right: -1px;
        margin-left: 1px;
    }
    &.float-end{
        margin-right: 1px;
        margin-left: -1px;
    }
          

    &.float-start, &.float-end {
        width: 25%;
        li {
            width: 100%;
            border-bottom: none;
            &:last-child {
                border-bottom: 1px solid $tab-nav-border-color;
            }
            @include border-end(1px solid $tab-nav-border-color);
        }
    }
    &.float-start {
        li {
            &.active {
                @include border-end(none);
            }
        }
    }
    &.float-end {
        li {
            &.active {
                @include border-start(none);
            }
        }
    }
    li {
        @include float_start();
        margin-bottom: 0;
        text-align: center;
        border: 1px solid $tab-nav-border-color;
        @include border-end(none);
        font-family: $font-family-headings;
        &:last-child {
            @include border-end(1px solid $tab-nav-border-color);
        }
        a {
            padding: 20px 30px;
            @include font-size(14, 16);
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.3;
            color: $tab-nav-color;
            -webkit-box-shadow: none;
            box-shadow: none;
            background-color: $tab-nav-bg;
            display: block;
            i {
                height: inherit;
                line-height: 0 !important;
                color: $tab-nav-color !important;
            }
        }
        &.active {
            border-bottom-color: $tab-cnt-bg;
        }
        &.active a {
            color: $tab-nav-color-active;
            background-color: $tab-nav-bg-active;
            cursor: default;
            a: hover {
                -webkit-box-shadow: inset 0 3px 0 0 #ff2a13;
                box-shadow: inset 0 3px 0 0 #ff2a13;
            }
        }
    }
}
/*2-Content*/

.dima-tab-content {
    overflow: auto;
    position: relative;
    margin-bottom: 1.313em;
    border: 1px solid $tab-nav-border-color;
    background-color: $tab-cnt-bg;
    z-index: 2;
    margin-top: -1px;
    @include transition(all .3s ease-in);
    .dima-tab_content {
        padding: 18px 30px;
        display: none;
        min-height: 220px;
        &.active {
            display: block;
        }
    }
    &.float-end {
        width: 75%;
        margin-top: 0;
        @include start(-1px);
        z-index: 5;
    }
    &.float-start {
        width: 75%;
        margin-top: 0;
        @include end(-1px);
        z-index: 5;
    }
}
