/***********************************************************************************************/
/* Table*/
/***********************************************************************************************/

.dima-data-table-wrap {
    overflow: hidden;
    margin-bottom: 20px;
    table {
        width: 100%;
        border-collapse: collapse;
        //display: inline-block;
        tr {
            border-bottom: 1px dotted $border-color;
            td {
                padding: 15px 12px;
                font-size: 13px;
                text-align: center;
                vertical-align: middle;
                &.success {
                    background-color: #dff0d6;
                    color: #3c761d;
                }
                &.active {
                    color: #c5254e;
                    background-color: #f7f2f4;
                }
            }
        }
        th {
            padding: 12px 12px;
            background-color: lighten($border-color, 10%);
            color: darken($border-color, 30%);
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            vertical-align: middle;
            //width: 100%
       
        }
    }
}