/***********************************************************************************************/
/* _team /
/***********************************************************************************************/

.dima-team-member {
    .team-img {
        overflow: hidden;
        .fix-chrome {
            position: relative;
        }
        img{
            width: 100%;
            margin: 1px 0 0 0;
        }
    }
}
.member-name {
    display: block;
    margin-bottom: 5px;
    font-size: 18;
    font-weight: bold;
    h5 {
        text-transform: uppercase;
    }
}
.member-function {
    display: inline-block;
    margin-bottom: 10px;
    @include font-size(14, 17);
}

