/**
 * [param: rtl OR ltr ]
 * @type {[String]}
 */
$global-direction:ltr !default;

$font-family-base: "Raleway", Helvetica, Arial, sans-serif;
$font-family-headings: "Lobster", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";
$dimaIcon: "Dima-Icons";