    .header-offset {
        margin-top: -$a-height + px;
        overflow: hidden;
        float: left;
        width: 100%;
    }
    @media only screen and (max-width: $TabletPortraitMax) {
        .dima-navbar-wrap.desk-nav {
            .dima-navbar-transparent {
                &.dima-navbar {
                    background-color: $nav-bg-color;
                    @include box-shadow(0.5px 0.866px 1px 0px rgb( 166, 164, 152));
                    .dima-nav {
                        li {
                            a {
                                color: $nav-text-color;
                            }
                        }
                    }
                    .logo {
                        img {
                            &.two {
                                display: inline-block;
                            }
                            &.one {
                                display: none;
                            }
                        }
                    }
                }
                &.fix_nav {
                    background: #FFF;
                    @include box-shadow(0.5px 0.866px 1px 0px rgb(166, 164, 152));
                    .dima-nav {
                        li {
                            a {
                                color: $nav-text-color;
                            }
                        }
                    }
                }
            }
        }
    }
