.dima-navbar-wrap.desk-nav {
    .dima-navbar {
        
        &.dima-navbar-center {
            .dima-nav {
            float: none;
            text-align: center;
            >li {
                    display: inline-block;
                    text-align:center;
                    float: none;
                    margin-bottom: -2px;
                }
            }
            .logo {
                position: relative;
                z-index: 1;
                margin: 0 auto;
                padding: 0 15px;
                h1 {
                    text-align: center;
                }
            }

        }
    }

}
