#demo-green {   
    
    .dima-timeline .timeline_element-content:after, .dima-timeline .timeline_element-content:before {
        background: #faf9f5;
    }
    .dark .dima-timeline .timeline_element-content:after,
    .dark .dima-timeline .timeline_element-content:before{
        background: #323232;
    }

    .calout-center {
        margin-top: 7px
    }

    h1, h2, h3, h4, h5, .posted_in label, h6{
        font-weight: 400;
    }
    .member-name h5,
    .boxed-blog .post .post-content h5{
        font-weight: 700;
        text-transform: capitalize;
    }
    .countUp{
        font-family: $font-family-headings;
    }
}