#demo-blog-two {
    .dima-navbar-wrap.dima-navbar-top .dima-navbar .dima-nav > li a:hover, .dima-navbar-wrap .dima-navbar nav .dima-nav > li.current > a, .dima-navbar-wrap .dima-navbar nav .dima-nav > li.sfHover > a, {
        color: #FFF;
        text-decoration: underline;
    }
}