#demo-construction {
    .dima-navbar-transparent {
        &.dima-navbar {
            background-color: rgba(255, 255, 255, 0.2);
            @include box-shadow(none);
            .dima-nav,.dima-nav-end {
                > li {
                    > a {
                        color: #FFF;
                    }
                }
            }
        }
        &.fix_nav {
            background: #FFF;
            @include box-shadow(0.5px 0.866px 1px 0px rgb(166, 164, 152));
            .dima-nav,.dima-nav-end {
                > li {
                    > a {
                        color: $header-link-color;
                    }
                }
            }
        }
    }

}
