#demo-portfolio {
    .title_portfolio {
        background: $content-bg-color !important;
        border-bottom: 1px solid $border-color;
    }
    .dima-navbar-wrap .dima-navbar nav .dima-nav > li > a:hover,
    .dima-navbar-wrap .dima-navbar nav .dima-nav > li.current > a,
    .dima-navbar-wrap .dima-navbar nav .dima-nav > li.sfHover > a,
    .dima-navbar-wrap .dima-navbar nav .dima-nav > li > .sub-menu li a:hover
      {
        color: #FFFFFF !important;
        text-decoration: underline;
    }
    .filters-box.filters ul li a {
        background: $content-bg-color;
        &:hover{
             background:$theme-color;
        }
    }
    .top-footer {
        border-top: 1px solid $border-color;
    }
    .filters-box.filters ul .current a {
        background:$theme-color;
    }
}
