#demo-restaurant {
    @if $global-direction == 'ltr'{
    h1, h2, h3, h4, h5, .posted_in label, h6 {        
        letter-spacing: 0.05em !important;
    }
    }
    .rating span:before, .rating span.star:before {
        color: #ffd54f;
    }
    .products-list .dima-product .product-content .product-name {
        @include font-size(22, 22);
    }
    .dima-section-cover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    li.post-view, li.post-on {
        color: $theme-color;
    }
    .dima-testimonial.quote-style blockquote p {
        @include font-size(20, 30);
    }
    p {
        line-height: 28px;
    }
}

