#demo-flat {
    .dima-navbar-wrap .dima-navbar {
        @include box-shadow(0px 1px 0px 0px #5c7288);
    }
    .line-hr {
        &.hr_white {
            border-bottom: 1px solid #FFFFFF;
        }
        &.hr_colord {
            border-bottom: 1px solid #039be5;
        }
    }
    .filters ul li a {
        color: #FFFFFF;
        border: 0px;
    }
    .dima-testimonial blockquote {
        border: 0px;
        .quote-content p {
            color: #c3e9fb;
        }
    }
    .quote-text.quote-start:after {
        @include border-start-color(#4a6076);
    }
    .dima-testimonial.quote-start .dima-testimonial-image {
        border: 0px;
    }
    .dima-pricing-table .dima-pricing-col .header, .dima-pricing-table .dima-pricing-col .dima-pricing-col-info {
        background: #4a6076;
        border: 1px solid #4a6076;
    }    
    .dima-pricing-table .dima-pricing-col .dima-pricing-col-info ul li {
        color: #fff;
        border-bottom: 1px solid #5c7288;
    }
    .di_white.button {
        color: #4a6076;
    }
    li.dima-accordion-group {
        border: none;
    }
    .widget-content ul.featured-posts li span{
        color: #81d4fa;
    }
    .flat-icon:hover{
        background: #039be5 !important;
    }
    .dima-navbar-wrap .dima-navbar nav .dima-nav > li > a{
        font-weight: 500;
    }
    .flat-paragraph{
        color: #FFFFFF
    }
    .boxed-blog .post .post-content h5{
        letter-spacing: 0.05em;
    }
    .image .thumb{
        width: 125px;
        height: 125px;
    }
}
