/**
* Important Files
* Custom Revolution 
* Custom Media Elemnts
**/
/*1Revolution custom navigation Type*/

.clm-bullet {
    .bullet {
        &.clm {
            &:nth-child(2n+3) {
                @include clear_start();
                @include margin-start(0 !important);
            }
        }
    }
}
.bullet {
    cursor: pointer;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid #FFF;
    margin: 0px 4px 8px 4px !important;
    @include float_start();
    &:hover, &.selected {
        background: #FFFFFF !important;
    }
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{
    letter-spacing: 0 !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 5vmax;
}
.dima-main {
    .tp-bullets.tp-thumbs {
        background-color: transparent !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .tp-bullets.tp-thumbs .bullet {
        opacity: 1;
        filter: alpha(opacity=1);
        &:hover, &.selected {
            opacity: 0.9;
            filter: alpha(opacity=0.9);
            background-size: cover !important;
        }
    }
    .tp-bullets.tp-thumbs {
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
    }
    .tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
        left: 50px !important;
    }
}

.flex-caption,.tp-caption {
    z-index: 10 !important;
}
.full-wrapper{    
    margin: 0 1.58%;
    position: relative;
}

/**
 * FlexSlider
 */

.slider-thumb {
    &.small-control .flex-control-nav {
        li {
            width: 108px !important;
            height: auto !important;
            @include float_start();
            @include margin-end(13px);
            margin-bottom: 0px;
            margin-top: 10px;
            @include margin-start(0px);
        }
    }
    .flex-direction-nav a{
        margin: -60px 0 0;
    }
}

/*Form*/
.textarea, .form textarea {
    min-height: 8em;
    height: 8em;
}
.widget-content .field {
    margin-bottom: 10px;
}
.dima-close {
    &:before {
        content: '\a139';
        font-family: $dimaIcon;
        @include font-size(8, 16);
        text-align: center;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 25px;
        border: none;
    }
}
/*device-content*/
.topaz-div-bg {
    position: absolute;
    display: block;
    width: 100%;
    @include start(0);
}
.device-content {
    &.macbook {
        position: relative;
        overflow: hidden;
        padding: 3.6% 11.9% 0% 12.1%;
        //padding: 3.6% 9.9% 0% 10.1%;
    }
    &.phone {
        position: relative;
        overflow: hidden;
        padding: 31% 7% 0% 8.2%;
    }
    img{
        width: 100%
    }
}
/**/

/**
 * Sections
 */
.dima-section-cover {
    position: absolute;
    background-position: center center;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.7);
    background-attachment: fixed;
    top: 0;
    @include start(0);
    z-index: 3;
    width: 100%;
    height: 100%;
}
.with-top-border {
    border-top: 1px solid $border-color;
}

/**
 * Background and colors
 */
.black-bg {
    background-color: #222;
}
.green-color {
    color: green;
}
.red-color {
    color: red;
}
.undertitle {
    color: #999999;
}
/**
 * Isotope ( Portfolio )
 */
.dima-loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    //background: #F4F4F4;
    .loading-top, .loading-bottom {
        position: fixed;
        display: block;
        width: 100%;
        z-index: 9998;
    }
    .loading-top {
        top: 0;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.95);
        @include transition(top 0.3s);
    }
    .loading-bottom {
        bottom: 0;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.95);
        @include transition(bottom 0.3s);
    }
}

/**
 * 
 */
.spin-2 {
    position: absolute;
    background: url(../images/okab_default_logo.png) 0 0 no-repeat;
    width: 110px;
    height: 35px;
    z-index: 99999;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -55px;
    @include transition(all 0.3s);
    p {
        color: #838383;
        display: block;
        text-align: center;
        padding-top: 65px;
        letter-spacing: 4px;
        font-weight: 100;
        @include animation-content(pulse 1s infinite);
    }
}
@include keyframes(pulse) {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}

.infscr-loading {
    position: fixed;
    left: 46%;
    text-align: center;
    display: block;
    bottom: 30px;
}

/**
 * Owl Them
 */
.image-carousel {
    &.owl-theme {
        .owl-controls {
            position: absolute;
            bottom: 20px;
            padding: 5px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}
.owl-circle .owl-dots .owl-dot span {
    @include border-radius(50px);
}


/** 
 * magnific-popup
 */
.gallery-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 55;
}
.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }  
  &.mfp-bg {
    opacity: 0;
      transition: all 0.3s ease-out;
  }  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }  
  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }    
  }  
}

button.mfp-close {
 background: #222222;
}
.mfp-close{
    position: fixed;
    right: 20px;
}

.dima-padding {
    padding: 100px 45px !important;
}
.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}
.in-bottom-absolute {
    position: absolute !important;
    top: -($section-padding + 0.125em);
}
.in-bottom-relative {
    position: relative;
    margin-bottom: -($section-padding);
}
/** 
 * Photographer
 */

.post-control {
    position: absolute;
    bottom: 38px;
    z-index: 1030;
    right: 50px;
}

/**
 * Post Item Ajax
 */

.ajax-item {
    width: 960px;
    margin: 20px auto;
    float: none;
}
/**
 * okab-icons page
 */

.rows.okab-icons {
    .di_1_of_4 {
        margin-bottom: 30px;
        display: inline-block;
    }
    i {
        font-size: 32px;
        color: #000;
    }
    i span.muted {
        padding-left: 10px;
        margin-top: 10px;
    }
    .muted {
        display: block;
        font-size: 14px;
        padding: 5px;
    }
}

/**
 * Scroll Bar
 */
.dima-navbar-vertical#framee{
    overflow: visible !important;
}
.scrollbar {
    position: absolute;
    top: 0;
    @include end(0);
    bottom: 0;
    width: 4px;
    z-index: 100;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    filter: alpha(opacity=0);
}
.scrollbar .handle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.dima-navbar.dima-navbar-vertical {
    .scrollbar {
        @include start(0);
    }
}
.vertical-menu-end {
    .dima-navbar-vertical {
        .scrollbar {
            @include end(0);
            @include start(auto);
        }
    }
}

.dima-navbar-vertical {
    &:hover {
        .scrollbar {
           opacity: 1;
        }
    }
}

.quick-view-content{
    position: relative;
    background: #FFFFFF;
    max-width: 930px;
    max-height: 600px;
    height: 100%; 
    overflow: hidden;
    margin: 6% auto 0 auto;
}

/*.loading{
    opacity: 0;
}*/

.default-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 52;
}

.load-close{
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 65px;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: 'Arial';
    background: mix($theme-color,black,80%);
    padding: 10px;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 30px;
    left: 0;
    z-index: 99999;
}

/*Page 404*/

.not-found {
    h6 {
        @include font-size(18, 18);
    }
    p {
        @include opacity(0.9);
    }
    h1 {
        @include font-size(160, 160);
        margin: 20px 0 35px;
    }
    form {
        width: 450px;
        margin: 0 auto;
    }
}

.gridshow {
  margin: 10px 0;
  color: #6a6258;
  border: 1px solid #6a6258;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  text-align: center; 
  overflow: hidden;
}

.no-padding{
  padding: 0 !important;
  margin: 0;
}

.border{
  border: solid #666666 1px;
}

.logosesenta-gris{
    display: block;
    width: 80px;
    height: 20px;
    background-image:url(../images/logo-60-gris.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    margin: 0 .5em 0;
}
.logosesenta{
    display: block;
    width: 80px;
    height: 20px;
    background-image:url(../images/logo-60.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: inline-block;
    margin: 0 .5em 0 0;
}
    
.valuebag{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 80px;
    background: black;
    color: white;
    display: inline-block;
    background: rgb(255,0,0); 
background: -webkit-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(241,90,36,1) 100%);
background: -o-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(241,90,36,1) 100%);
background: linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(241,90,36,1) 100%);  
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#f15a24',GradientType=1 ); 
    p{
       color: white;
       text-align: center;
       font-family: 'airstrike_expandedexpanded';
       font-size: 2em;
       line-height: 80px;
    }
}

.btn-seemore{
    width: auto;
    heigth: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    display: block;
    padding: 0 20px;
    p{
       color: white;
       font-weight: bold;
    }
    
}

    